
*.cache
microservice/*/*/obj
microservice/*/*/bin
csharp-practices/*/*/app/obj
csharp-practices/*/*/app/bin
test/telepathy-test/.vs/telepathy-test/xs/UserPrefs.xml
test/*/*/obj
test/*/*/bin
*/*/obj
*/*/bin
